.container{
    color:var(--black50);
    padding-left:1rem;
    padding-right:1rem;
    margin-top:4rem;
}
.title{
    color:var(--white10);
    font-weight: 700;
    font-size:clamp(1.5rem,2vw,2rem);
}
.cardWrapper{
    display: flex;
    padding-top:1.8rem;
    padding-bottom:1.5rem;
    margin-top:-5rem;
    margin-right:0.75rem;
    overflow-x:scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
}