
.container {
    color: var(--white10);
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom, var(--gradient-stops));
    --gradient-from: var(--black);
    --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
    width: 100%;
    z-index: 50;
   
  }
 
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    padding: 1.25rem;
  }
 
  .logoLink {
    display: flex;
    font-weight: 500;
    font-size: clamp(1rem,2vw,1.7rem);
    align-items: center;
    color: var(--white10);
    margin-bottom: 1rem;
  }
  .logoWrapper {
    color: var(--red);
    width: 8rem;
  }
  
  .navItems {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 1.5rem;
    font-size: 0.875rem;
    font-size: clamp(1rem,2vw,1.3rem);
    line-height: 1.25rem;
    list-style: none;
  }
 
  .navItem {
    font-weight: 600;
    cursor: pointer;
    margin-right: 0.75rem;
    font-size: clamp(1rem,2vw,1.3rem);
  }
 
  .navItem2 {
    cursor: pointer;
  }
 
  .navContainer {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
 
  .usernameBtn {
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--white);
    background:none;
    border:none;
    cursor:pointer;
  }
 
  .username {
    font-size: 1rem;
  }
 
  .navDropdown {
    position: absolute;
    margin-left: auto;
    margin-top: 0.5rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--black50);
    border-width: 2px;
    color: var(--white-20);
    border-radius: 0.25rem;
    border-color: var(--blue);
    transition:all 2s ease-in;
 
   
  }
 
  .linkName {
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
 
    font-size: 1rem ;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
 
  .linkName:hover {
    text-decoration: underline;
  }
 
  .lineWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /* @media (min-width: 768px) {
    .wrapper {
      padding-left: 4rem;
      padding-right: 4rem;
      flex-direction: row;
      align-items: center;
    }
 
    .logoLink {
      margin-bottom: 0px;
    }
 
    .navItems {
      margin-left: 3rem;
    }
 
    .navItem {
      margin-right: 1.25rem;
    }
  } */